# [1]. Read Dataset from Kaggle

In [6]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [7]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [9]:
cp kaggle.json ~/.kaggle/

In [10]:
! chmod 600 ~/.kaggle/kaggle.json

In [11]:
! kaggle datasets download -d snap/amazon-fine-food-reviews -f Reviews.csv

Downloading Reviews.csv.zip to /content
 92% 105M/115M [00:02<00:00, 42.4MB/s]
100% 115M/115M [00:02<00:00, 50.6MB/s]

In [12]:
!unzip Reviews.csv

Archive:  Reviews.csv.zip
  inflating: Reviews.csv

# [2]. Reading Dataset

In [13]:
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
dataset = pd.read_csv('Reviews.csv')

In [15]:
dataset.head(2)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

In [16]:
len(dataset)

568454

In [17]:
dataset.describe()

                  Id  HelpfulnessNumerator  ...          Score          Time
count  568454.000000         568454.000000  ...  568454.000000  5.684540e+05
mean   284227.500000              1.743817  ...       4.183199  1.296257e+09
std    164098.679298              7.636513  ...       1.310436  4.804331e+07
min         1.000000              0.000000  ...       1.000000  9.393408e+08
25%    142114.250000              0.000000  ...       4.000000  1.271290e+09
50%    284227.500000              0.000000  ...       5.000000  1.311120e+09
75%    426340.750000              2.000000  ...       5.000000  1.332720e+09
max    568454.000000            866.000000  ...       5.000000  1.351210e+09

[8 rows x 5 columns]

In [18]:
dataset.dtypes

Id                         int64
ProductId                 object
UserId                    object
ProfileName               object
HelpfulnessNumerator       int64
HelpfulnessDenominator     int64
Score                      int64
Time                       int64
Summary                   object
Text                      object
dtype: object

In [19]:
filtered_data = dataset[dataset["Score"] != 3]

In [20]:
len(filtered_data)

525814

In [21]:
filtered_data.head(2)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

In [22]:
def partition(x):
  if x<3:
    return 0
  return 1

In [23]:
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition)
filtered_data['Score'] = positiveNegative
print("Filtered data shape: ", filtered_data.shape)
filtered_data.head(2)

Filtered data shape:  (525814, 10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

# [3]. Exploratory Data Analysis

In [24]:
display = filtered_data.groupby('UserId').filter(lambda x: len(x)>1)

In [25]:
display.head(2)

   Id  ...                                               Text
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...

[2 rows x 10 columns]

In [26]:
display['Count'] = display.groupby('UserId')['UserId'].transform('count')

In [27]:
display.head(2)

   Id   ProductId  ...                                               Text Count
2   3  B000LQOCH0  ...  This is a confection that has been around a fe...     3
3   4  B000UA0QIQ  ...  If you are looking for the secret ingredient i...     3

[2 rows x 11 columns]

In [28]:
display.drop_duplicates('UserId', keep='first', inplace=True)

In [29]:
display.shape

(75346, 11)

In [30]:
display['Count'].sum()

357746

In [31]:
display[display['UserId']=='AZY10LLTJ71NX']

          Id  ... Count
35173  35174  ...     5

[1 rows x 11 columns]

### Anomaly 1:

Same user has multiple reviews for a same product with the same values if helpfulness numerator, helpfulness denominator, score, time, summary and text

In [32]:
display = dataset[(dataset['UserId']=='AR5J8UI46CURR') & (dataset['Score']!=3)]

In [33]:
display.head()

            Id  ...                                               Text
73790    73791  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
78444    78445  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
138276  138277  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
138316  138317  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
155048  155049  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

[5 rows x 10 columns]

In [34]:
sorted_data = filtered_data.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [35]:
sorted_data.shape

(525814, 10)

In [36]:
final = sorted_data.drop_duplicates(subset={'UserId', 'ProfileName', 'Time', 'Text'}, keep='first', inplace=False)
final.shape

(364173, 10)

In [37]:
(final['Id'].size*1.0) / (filtered_data['Id'].size*1.0)*100

69.25890143662969

### Anomaly 2:

value of helpfulness numerator is greater than helpfulness denominator which is practically impossible.

In [38]:
display = dataset[(dataset['Score']!=3) & ((dataset['Id'] == 44737) | (dataset['Id']==64422))]

In [39]:
display.head()

          Id  ...                                               Text
44736  44737  ...  It was almost a 'love at first bite' - the per...
64421  64422  ...  My son loves spaghetti so I didn't hesitate or...

[2 rows x 10 columns]

In [40]:
final=final[final.HelpfulnessNumerator<=final.HelpfulnessDenominator]

In [41]:
final.shape

(364171, 10)

# [4]. Text Preprocessing

Preprocessing steps:
* Remove HTML tags
* Remove punctuations and special characters
* Remove alpha numberic words
* Check the length of the word is greater than 2
* Convert the word to lowercase
* Remove Stopwords
* Snowball Stemming

In [42]:
# printing some random reviews
sent_0 = final['Text'].values[0]
print(sent_0)
print("="*50)

sent_1000 = final['Text'].values[1000]
print(sent_1000)
print("="*50)

sent_1500 = final['Text'].values[1500]
print(sent_1500)
print("="*50)

sent_4900 = final['Text'].values[4900]
print(sent_4900)
print("="*50)

this witty little book makes my son laugh at loud. i recite it in the car as we're driving along and he always can sing the refrain. he's learned about whales, India, drooping roses:  i love all the new words this book  introduces and the silliness of it all.  this is a classic book i am  willing to bet my son will STILL be able to recite from memory when he is  in college
==================================================
I was really looking forward to these pods based on the reviews.  Starbucks is good, but I prefer bolder taste.... imagine my surprise when I ordered 2 boxes - both were expired! One expired back in 2005 for gosh sakes.  I admit that Amazon agreed to credit me for cost plus part of shipping, but geez, 2 years expired!!!  I'm hoping to find local San Diego area shoppe that carries pods so that I can try something different than starbucks.
==================================================
Great ingredients although, chicken should have been 1st rather than chicken broth, the only thing I do not think belongs in it is Canola oil. Canola or rapeseed is not someting a dog would ever find in nature and if it did find rapeseed in nature and eat it, it would poison them. Today's Food industries have convinced the masses that Canola oil is a safe and even better oil than olive or virgin coconut, facts though say otherwise. Until the late 70's it was poisonous until they figured out a way to fix that. I still like it but it could be better.
==================================================
Can't do sugar.  Have tried scores of SF Syrups.  NONE of them can touch the excellence of this product.<br /><br />Thick, delicious.  Perfect.  3 ingredients: Water, Maltitol, Natural Maple Flavor.  PERIOD.  No chemicals.  No garbage.<br /><br />Have numerous friends & family members hooked on this stuff.  My husband & son, who do NOT like "sugar free" prefer this over major label regular syrup.<br /><br />I use this as my SWEETENER in baking: cheesecakes, white brownies, muffins, pumpkin pies, etc... Unbelievably delicious...<br /><br />Can you tell I like it? :)
==================================================

In [44]:
import re

Removal of URLS

In [45]:
sent_0 = re.sub(r"http\S+", "", sent_0)
sent_1000 = re.sub(r"http\S+", "", sent_1000)
sent_1500 = re.sub(r"http\S+", "", sent_1500)
sent_4900 = re.sub(r"http\S+", "", sent_4900)

Removal of HTML Elements and tags

In [46]:
from bs4 import BeautifulSoup

In [47]:
soup = BeautifulSoup(sent_0, 'lxml')
text = soup.get_text()
print(text)

this witty little book makes my son laugh at loud. i recite it in the car as we're driving along and he always can sing the refrain. he's learned about whales, India, drooping roses:  i love all the new words this book  introduces and the silliness of it all.  this is a classic book i am  willing to bet my son will STILL be able to recite from memory when he is  in college

Expanding English language contractions

In [48]:
def decontracted(phrase):
  phrase = re.sub(r"won't", "will not", phrase)
  phrase = re.sub(r"can\'t", "can not", phrase)
  phrase = re.sub(r"n\'t", " not", phrase)
  phrase = re.sub(r"\'re", " are", phrase)
  phrase = re.sub(r"\'s", " is", phrase)
  phrase = re.sub(r"\'d", " would", phrase)
  phrase = re.sub(r"\'ll", " will", phrase)
  phrase = re.sub(r"\'t", " not", phrase)
  phrase = re.sub(r"\'ve", " have", phrase)
  phrase = re.sub(r"\'m", " am", phrase)
  return phrase

In [49]:
sent_4900 = decontracted(sent_4900)
print(sent_4900)

Ca not do sugar.  Have tried scores of SF Syrups.  NONE of them can touch the excellence of this product.<br /><br />Thick, delicious.  Perfect.  3 ingredients: Water, Maltitol, Natural Maple Flavor.  PERIOD.  No chemicals.  No garbage.<br /><br />Have numerous friends & family members hooked on this stuff.  My husband & son, who do NOT like "sugar free" prefer this over major label regular syrup.<br /><br />I use this as my SWEETENER in baking: cheesecakes, white brownies, muffins, pumpkin pies, etc... Unbelievably delicious...<br /><br />Can you tell I like it? :)

Removal of words with numbers

In [50]:
sent_0 = re.sub(r"\S*\d\S*", "", sent_0).strip()
print(sent_0)

this witty little book makes my son laugh at loud. i recite it in the car as we're driving along and he always can sing the refrain. he's learned about whales, India, drooping roses:  i love all the new words this book  introduces and the silliness of it all.  this is a classic book i am  willing to bet my son will STILL be able to recite from memory when he is  in college

Removal of special characters

In [51]:
sent_1500 = re.sub('[^A-Za-z0-9]+', "", sent_1500)
print(sent_1500)

Greatingredientsalthoughchickenshouldhavebeen1stratherthanchickenbroththeonlythingIdonotthinkbelongsinitisCanolaoilCanolaorrapeseedisnotsometingadogwouldeverfindinnatureandifitdidfindrapeseedinnatureandeatititwouldpoisonthemTodaysFoodindustrieshaveconvincedthemassesthatCanolaoilisasafeandevenbetteroilthanoliveorvirgincoconutfactsthoughsayotherwiseUntilthelate70sitwaspoisonousuntiltheyfiguredoutawaytofixthatIstilllikeitbutitcouldbebetter

Removal of Stopwords

In [52]:
stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [53]:
from tqdm import tqdm
preprocessed_reviews = []
# tqdm is for printing the status bar
for sentence in tqdm(final['Text'].values):
    sentence = re.sub(r"http\S+", "", sentence)
    sentence = BeautifulSoup(sentence, 'lxml').get_text()
    sentence = decontracted(sentence)
    sentence = re.sub("\S*\d\S*", "", sentence).strip()
    sentence = re.sub('[^A-Za-z]+', ' ', sentence)
    sentence = ' '.join(e.lower() for e in sentence.split() if e.lower() not in stopwords)
    preprocessed_reviews.append(sentence.strip())

100%|██████████| 364171/364171 [02:17<00:00, 2652.08it/s]

In [56]:
len(preprocessed_reviews)

364171

In [54]:
final.head(2)

            Id  ...                                               Text
150523  150524  ...  this witty little book makes my son laugh at l...
150505  150506  ...  I grew up reading these Sendak books, and watc...

[2 rows x 10 columns]

In [55]:
final.shape

(364171, 10)

In [57]:
final['preprocessed_reviews'] = preprocessed_reviews

In [58]:
final.shape

(364171, 11)

In [59]:
final.to_csv('/content/drive/MyDrive/Colab Notebooks/Amazon_fine_food_reviews/preprocessed_review_file.csv')