# Read Dataset from Kaggle

In [4]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [5]:
! mkdir ~/.kaggle

In [6]:
cp kaggle.json ~/.kaggle/

In [8]:
! chmod 600 ~/.kaggle/kaggle.json

In [9]:
! kaggle datasets download -d snap/amazon-fine-food-reviews -f Reviews.csv

Downloading Reviews.csv.zip to /content
 97% 111M/115M [00:00<00:00, 119MB/s]
100% 115M/115M [00:00<00:00, 124MB/s]

In [10]:
!unzip Reviews.csv

Archive:  Reviews.csv.zip
  inflating: Reviews.csv



```
# This is formatted as code
```

# Reading Dataset

In [12]:
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
dataset = pd.read_csv('Reviews.csv')

In [14]:
dataset.head(2)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

In [15]:
len(dataset)

568454

In [18]:
dataset.describe()

                  Id  HelpfulnessNumerator  ...          Score          Time
count  568454.000000         568454.000000  ...  568454.000000  5.684540e+05
mean   284227.500000              1.743817  ...       4.183199  1.296257e+09
std    164098.679298              7.636513  ...       1.310436  4.804331e+07
min         1.000000              0.000000  ...       1.000000  9.393408e+08
25%    142114.250000              0.000000  ...       4.000000  1.271290e+09
50%    284227.500000              0.000000  ...       5.000000  1.311120e+09
75%    426340.750000              2.000000  ...       5.000000  1.332720e+09
max    568454.000000            866.000000  ...       5.000000  1.351210e+09

[8 rows x 5 columns]

In [20]:
dataset.dtypes

Id                         int64
ProductId                 object
UserId                    object
ProfileName               object
HelpfulnessNumerator       int64
HelpfulnessDenominator     int64
Score                      int64
Time                       int64
Summary                   object
Text                      object
dtype: object

In [22]:
filtered_data = dataset[dataset["Score"] != 3]

In [23]:
len(filtered_data)

525814

In [24]:
filtered_data.head(2)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

In [25]:
def partition(x):
  if x<3:
    return 0
  return 1

In [26]:
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition)
filtered_data['Score'] = positiveNegative
print("Filtered data shape: ", filtered_data.shape)
filtered_data.head(2)

Filtered data shape:  (525814, 10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...

[2 rows x 10 columns]

# Exploratory Data Analysis

In [27]:
display = filtered_data.groupby('UserId').filter(lambda x: len(x)>1)

In [28]:
display.head(2)

   Id  ...                                               Text
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...

[2 rows x 10 columns]

In [32]:
display['Count'] = display.groupby('UserId')['UserId'].transform('count')

In [34]:
display.head(2)

   Id   ProductId  ...                                               Text Count
2   3  B000LQOCH0  ...  This is a confection that has been around a fe...     3
3   4  B000UA0QIQ  ...  If you are looking for the secret ingredient i...     3

[2 rows x 11 columns]

In [35]:
display.drop_duplicates('UserId', keep='first', inplace=True)

In [36]:
display.shape

(75346, 11)

In [38]:
display['Count'].sum()

357746

In [37]:
display[display['UserId']=='AZY10LLTJ71NX']

          Id  ... Count
35173  35174  ...     5

[1 rows x 11 columns]

### Anomaly 1:

Same user has multiple reviews for a same product with the same values if helpfulness numerator, helpfulness denominator, score, time, summary and text

In [49]:
display = dataset[(dataset['UserId']=='AR5J8UI46CURR') & (dataset['Score']!=3)]

In [50]:
display.head()

            Id  ...                                               Text
73790    73791  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
78444    78445  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
138276  138277  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
138316  138317  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
155048  155049  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

[5 rows x 10 columns]

In [51]:
sorted_data = filtered_data.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [53]:
sorted_data.shape

(525814, 10)

In [52]:
final = sorted_data.drop_duplicates(subset={'UserId', 'ProfileName', 'Time', 'Text'}, keep='first', inplace=False)
final.shape

(364173, 10)

In [54]:
(final['Id'].size*1.0) / (filtered_data['Id'].size*1.0)*100

69.25890143662969

### Anomaly 2:

value of helpfulness numerator is greater than helpfulness denominator which is practically impossible.

In [57]:
display = dataset[(dataset['Score']!=3) & ((dataset['Id'] == 44737) | (dataset['Id']==64422))]

In [58]:
display.head()

          Id  ...                                               Text
44736  44737  ...  It was almost a 'love at first bite' - the per...
64421  64422  ...  My son loves spaghetti so I didn't hesitate or...

[2 rows x 10 columns]

In [59]:
final=final[final.HelpfulnessNumerator<=final.HelpfulnessDenominator]

In [60]:
final.shape

(364171, 10)